instrument_server/build.xml
instrument_server/local.properties
instrument_server/bin/*
instrument_server/gen/*
instrument_server/obj/*
instrument_server/libs/*
instrument_inst/*
modified.apk
modified/*
tools/*.jar
*.pyc
*.pyo
dynclass/classes.apk
dynclass/classes.apk.base64
*.swp
*.classpath
*.project
*.zip
*.apk
log
apks
log-*
web
static/logs
com.*/
apps.csv
configs.csv
avd_template
local_avd_lock
*.log
remote_logs
decode
hosts.txt
storehosts.txt
out
